#filmContainer{
    padding-top: 2vh;
    // top: 11vh;
    overflow-x:auto;
    display: grid;
    grid-template-columns: $img-width $img-width $img-width $img-width $img-width $img-width $img-width $img-width $img-width $img-width ;
    column-gap: 20px;
    z-index:1;
    height: 85vh;
    width: 100vw;
    
    
    div.film {
        position: relative;
        width: $img-width;
        height: 100%;

        &:hover {
            border: 2px solid red;
            opacity: 0.5;
            cursor: pointer;

            &>.hiddenInfo{
                opacity: 1;
                color:white;
                background-color:red;

                &:hover {
                    color:$site-tertiary-background;
                }
            }
        }

        .visibleInfo{
            width: 100%;
            height:100%;

            img{
                width: 100%;
                height: 90%;
            }

            h4 {
                width: 100%;
                height: 10%;
                color: $film-title-color;
                display: flex;
                justify-content: center;
            }
        }

        .hiddenInfo {
            position: absolute;
            top:40%;
            left:25%;
            opacity:0;
            font-size: 1.2em;
            padding: 10px;
        }
    }
}