header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    height: 10vh;
    min-width: 100vw;
    background-color: $header-color;
    font-size: 1.5em;


    h1#siteTitle {
        font-size:1.8em;
        animation: Title-Flicker 4s infinite;
    }

    a {
        cursor: pointer;
        user-select: none;
        margin: 0 5px;

        &:hover {
            color: $site-secondary-background;
        }
    }

    .faveContainer {
        display:flex;

        i {
            padding-left: 5px;
        }
    }

    .searchGrouping {
        display: flex;
        justify-content: center;

    #filterYear {
        height: 20px;
        width: 50%;
        display: none;
        margin-left: 5px;
    }
    }
}
