@-webkit-keyframes Title-Flicker {
    0% {color: rgb(180, 180, 180)}
    20% {color: rgb(120, 120, 120);}
    40% {color: rgb(80, 80, 80);}
    60% {color: rgb(80, 80, 80);}
    80% {color: rgb(120, 120, 120);}
    100% {color: rgb(180, 180, 180)}
}
