//Colours
$site-background: rgb(0,0,0);
$site-secondary-background: red;

$title-background-color: blue;

$header-color: grey;

$color-button1: rgb(46, 42, 42);
$background-button1: seagreen;
$button-hover: red;


$film-title-color: white;